@import url("https://fonts.googleapis.com/css?family=Exo+2");

#grows {
  position: relative;
}
#maingallerypage {
  width: 90%;
  height: 100%;
}

#addgallerybutton {
  float: right;
  position: relative;
  top: 20px;
}
.gheader {
  background-color: white;
  color: #303983;
  font-size: 30px;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 1000;
  position: relative;
  top: 50px;
  width: 100%;
  left: 6%;
}

/*PC--*/

@media only screen and (min-width: 1025px) {
  #maingallerypage {
    width: 100% !important;
  }

  .gcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    height: 200px !important;
    position: relative;
    margin-right: 2% !important;
    margin-left: 2% !important;
    top: 70px !important;
    left: 6% !important;
  }
  .gheader {
    top: 40px !important;
    left: 10% !important;
    width: 80% !important;
  }

  .gimages {
    width: 100%;
    min-height: 150px !important;
    max-height: 151px !important;
  }
}

/*MOBILE--*/

#addgallerybutton {
  float: right !important;
  position: relative;
}
#editghead {
  font-weight: bold;
}
.gcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 18%;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  height: 170px;
  position: relative;
  float: left;
  margin-bottom: 50px;
  margin-right: 2%;
  margin-left: 2%;
  top: 70px;
  left: 11.5%;
}
.gblankspace {
  width: 6%;
  padding: 0;
  height: 540px;
  position: relative;
  float: left;
}

.gcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.gimages:hover {
  opacity: 0.8;
  cursor: pointer;
}

.gcontainer {
  padding: 2px 10px;
}

.gimages {
  width: 100%;
  height: 110px;
  border-radius: 5px 5px 0px 0px;
}

#gname {
  position: relative;
  font-size: 75%;
}
