.wcard-year {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    text-decoration: none;
     font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    margin:0 5%;
    
  }

  .cards_year{
      width:90% !important;
      margin: 0 auto !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }

  .prev_mem_container{
      width:100%;
  }


  @media only screen and (min-width: 1025px) {
      .wcard-year{
          width:20%;
          height: 320px;
      }
    }

  @media only screen and (max-width: 1024px) {
        .wcard-year{
            width:30%;
            height: 350px;
        }
      }