
h1{
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: #6610f2;
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 1000px;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 20px;
    text-align: center;
    vertical-align:middle;
    font-weight: 500;
    font-size: 15px;
    color: #000;
    border-bottom: solid 1px rgb(128, 128, 128);
  }
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px 50px 150px 50px;
  }
  
  
  
  
  