.containereve {
  position: relative;
  width: 50% !important;
  float: center;
  left: 26%;
  top: 50px;
  min-height: 800px;
}
.borderbox {
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 0 3%;
}

#addevepage {
  overflow: hidden;
  height: 100%;
}
#evetitle {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 25px;
}
#eveimage {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 25px;
}
#evedate {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 25px;
}
#evedesc {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

#addevebutton {
  height: 50px;
  font-size: 20px;
  position: relative;
  left: 20%;
  bottom: 15px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: #4cc552;
  font-weight: bold;
  color: white;
}
#addevetbutton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(0, 255, 85);
}
.addeventhead {
  height: 0px;
  text-align: center;
  font-size: 20px;
  color: #303983 !important ;
  font-size: 25px;
  position: relative;
  top: 0px;
  font-weight: bold;
  padding: 20px;
  padding-top: 0px !important;
}
