.mcontainer {
  position: relative;
  width: 50% !important;
  float: center;
  left: 24.5%;
  top: 50px;
}
#space {
  padding: 0 3%;
}
#name {
  height: 50px;
  font-size: 17px;
  position: relative;
  top: -10px;
  border: 1px solid #303983;
  background-color: white;
  border-radius: 25px;
}
#year {
  height: 50px;
  font-size: 17px;
  position: relative;
  top: 0px;
  border: 1px solid #303983;
  background-color: white;
  border-radius: 25px;
}
#position {
  height: 50px;
  font-size: 17px;
  position: relative;
  top: -5px;
  border: 1px solid #303983;
  background-color: white;
  border-radius: 25px;
}
#email {
  height: 50px;
  font-size: 17px;
  position: relative;
  top: -2px !important;
  border: 1px solid #303983;
  background-color: white;
  border-radius: 25px;
}
#mobile {
  height: 50px;
  font-size: 17px;
  position: relative;
  top: 0px;
  border: 1px solid #303983;
  background-color: white;
  border-radius: 25px;
}
#linkedin {
  height: 50px;
  font-size: 17px;
  position: relative;
  top: 0px;
  border: 1px solid #303983;
  background-color: white;
  border-radius: 25px;
}
#editmemberbutton {
  height: 50px;
  font-size: 20px;
  position: relative;
  top: -13px;
  width: 60%;
  left: 20%;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: rgb(255, 217, 0);
  font-weight: bold;
  color: white;
}
#deletememberbutton {
  height: 50px;
  font-size: 20px;
  position: relative;
  top: -13px;
  width: 60%;
  left: 20%;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: red;
  font-weight: bold;
  color: white;
}
#editmemberbutton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px yellow;
}
#deletememberbutton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px red;
}
.editmemberhead {
  height: 0px;
  text-align: center;
  font-size: 20px;
  color: #303983 !important ;
  font-size: 25px;
  position: relative;
  top: 0px;
  font-weight: bold;
  padding: 20px;
  padding-top: 0px !important;
}
#image {
  height: 50px;
  font-size: 17px;
  position: relative;
  top: 0px;
  width: 100%;
  border: 1px solid #303983;
  background-color: white;
  border-radius: 25px;
  text-align: left;
  color: gray;
}
#image:hover {
  background-color: #ddd;
  color: black;
}
